<h1>Surgery Show</h1>

<h2>Title: <%= @surgery.title %></h2>
<h3>Operating Room Number: <%= @surgery.operating_room_number %></h3>
<h3>Doctors Performing Surgery:</h3>
<ul>
  <% @surgery.doctors.each do |doctor| %>
    <li>
      <%= doctor.name %>
    </li>
  <% end %>
</ul>

<h3>Add A Doctor To This Surgery</h3>
<%= form_with model: Operation.new, url: operations_path(surgery_id: @surgery.id) do |form| %>
  <%= form.label :doctor_name, 'Doctor Name:' %>
  <%= form.text_field :doctor_name %>
  <%= form.submit 'Add Doctor To Surgery' %>
<% end %>


<section id='other-surgeries-this-day'>
  <ul>
    <p>Other surgeries happening this day of the week:</p>
    <% @surgery.other_surgeries_today.each do |surgery| %>
      <li>
        <%= surgery.title %>
      </li>
    <% end %>
  </ul>
</section>
